#cardContainer {
  grid-column-start: 3;
  grid-auto-flow: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: calc(2 * 400px + 1 * 20px);
  margin: auto;
}

@media (min-width: 1600px) {
  #cardContainer {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: calc(3 * 400px + 2 * 20px)
  }
}





