.mainContainer {
    text-align: center;
    // background-color: rgb(244, 244, 244);
    margin-left: 400px;
    margin-right: 150px;
}

.sideNav {
    margin-top: 48px;
    background-color: rgb(244, 244, 244);
}

.sideNavHeading {
    padding-left: 15px;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.mainText {
    padding-top: 50px;
    text-align: left;
    font-size: 18px;
}

.mainHeading {
    font-size: 28px;
    font-weight: 300;
}

.textBox {
    background-color: rgb(244, 244, 244);
    margin-top: 10px;
}

.icon {
    margin-top: 10px;
}