.descriptionBody {
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 20px;
    height: 100%;
    border: 1px dashed gray;
}

.contentBox {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.normalGrid {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.mobileGrid {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titleBox {
    align-content: left;
}

.titleHeading {
    text-align: center;
}

.tileContainer {
    margin: 0px;
    border: 1px solid gray;
    max-width: 100%;
}

.divCenter {
    display: flex;
    justify-content: center;
}