.descriptionBody {
    width: 100%;
    max-height: 100%;
}

.contentBox {
    padding: 0px;
}

.contentsGrid {
    margin-top: 20px;
}

.titleBox {
    padding-left: 30px;
    align-content: left;
}

.titleHeading {
    text-align: center;
}