// .card {
//     //min-width: 400px;
//     width: 100%;
//     //max-width: fit-content;
// }

// .cardImage {
//     z-index: -10;
//     position: absolute;
//     opacity: 0%;
//     width: auto;
//     height: 200px;
//     object-fit: cover;
// }

// .cardHeader {
//     background-color: #e5e5e5;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0.5rem 1rem;
//     border-bottom: 1px solid #ccc;
// }

// .cardContent {
//     padding: 0.5rem 1rem;
//     line-height: 1.4rem;
//     overflow: hidden;
//     display: block;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 5;
//     -webkit-box-orient: vertical;
    
// }

.tile {
    height: fit-content;
}

.titleLink {
    padding-bottom: 1rem;
    cursor: pointer;
}

.tags {
    padding-top: 1rem;
}