.innerContainer {
  padding: 1rem;
  overflow-y: auto;
}

.sideNav1 {
  background-color: red;
}

.datePicker {
  margin-bottom: 20px;
}

.dateInputField {
  width: 50px;
}

#resetFiltersBtn {
  margin: 15px;
  text-align: center;
  padding: 10px 20px;
}

#applyFiltersBtn {
  margin: 15px;
  padding: 10px 30px;
}

#filterOptions {
  display: flex;
  width: 100%;
}
